# Виртуальное окружение
venv/
.venv/

# Скомпилированные / оптимизированные / DLL файлы
__pycache__/
*.py[cod]
*$py.class

# Логи и базы данных
*.log
*.sqlite3

# Переменные окружения
.env

# Настройки IDE
.idea/
.vscode/

# Директории зависимостей
lib/
lib64/